<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">
<footer class="fixed-bottom bg-purple" th:fragment="footer">
    <div class="container-lg footer justify-content-center">
        <div class="col-12 text-center" style="font-size: 0.7em;">
            <div>Website courtesy of Jacob Grosse. Email me (professional inquiries only): <a href="mailto:grossetech101@gmail.com">here</a>. &copy Grosse LLC 2023</div>
            <div>Disclaimer: Connection information is being gathered.</div>
        </div>
    </div>
</footer>
</html>