<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">
<nav class="navbar fixed-top bg-purple" th:fragment="navbar">
    <div class="container-fluid px-5">
        <div class="container-lg nav justify-content-center">
            <a class="nav-link" th:href="@{/}">Home</a>
            <a class="nav-link" href="#">Overview</a>
            <a class="nav-link" href="#">Projects</a>
            <a class="nav-link" th:href="@{/ip_info}">Database Queries</a>
        </div>
    </div>
</nav>
</html>
