<!doctype html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">
<table class="bso-table" th:fragment="table">
    <tr class="bso-table-header">
        <td>IPV4 Address</td>
        <td>Operating System</td>
        <td>Browser Information</td>
        <td>Requested Page</td>
        <td>Timestamp</td>
    </tr>
    <tr class="bso-table-row" th:each="trackedUser, iStat : ${trackedUsers}"
        th:style="${iStat.odd}? 'background-color: #ccc;' : 'background-color: #444; color: #eee;'">
        <td th:text="${trackedUser.clientIpv4Address}"></td>
        <td th:text="${trackedUser.clientOperatingSystem}"></td>
        <td th:text="${trackedUser.clientBrowserInfo}"></td>
        <td th:text="${trackedUser.clientConnectionRequestedPage}"></td>
        <td th:text="${trackedUser.clientConnectionAttemptTimestamp.toString()}"></td>
    </tr>
</table>
</html>