<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">
<div th:fragment="index-header">
    <h1 class="bso-page-title">Everything You May Need to Know About Jake</h1>
</div>

<div th:fragment="index-content">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-5">
            <div>
                <p>I don't know what to put here yet, will be updated upon actual accomplishments at a workplace. Therefore:</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi tempus iaculis urna id volutpat lacus. Semper quis lectus nulla at volutpat diam ut venenatis. Amet mattis vulputate enim nulla aliquet porttitor lacus luctus accumsan. Quis viverra nibh cras pulvinar mattis nunc sed blandit libero. Proin sed libero enim sed faucibus turpis in eu. Eleifend donec pretium vulputate sapien. Morbi tristique senectus et netus et malesuada. Amet massa vitae tortor condimentum lacinia quis vel. Mi quis hendrerit dolor magna eget est lorem. Gravida neque convallis a cras. Commodo viverra maecenas accumsan lacus. Purus viverra accumsan in nisl nisi scelerisque. Pretium nibh ipsum consequat nisl vel. In hac habitasse platea dictumst quisque sagittis purus sit.</p>
                <p>Morbi quis commodo odio aenean. Id cursus metus aliquam eleifend. Sem fringilla ut morbi tincidunt augue interdum. Nulla facilisi cras fermentum odio. Sem nulla pharetra diam sit amet nisl suscipit adipiscing bibendum. Non tellus orci ac auctor augue mauris augue. Nunc lobortis mattis aliquam faucibus purus. Aliquam nulla facilisi cras fermentum odio eu feugiat pretium. Leo urna molestie at elementum eu facilisis. Sed sed risus pretium quam. Posuere urna nec tincidunt praesent semper feugiat nibh sed pulvinar. Arcu dictum varius duis at consectetur lorem donec massa sapien.</p>
            </div>
        </div>

        <div class="col-5">
            <img class="w-100 bso-image" src="image/me-suit.jpg" alt="picture of Jacob Grosse">
        </div>
        <div class="col-1"></div>
    </div>

    <!--  LinkedIn and GH Cards  -->
    <div class="row p-5">

        <div class="col-1"></div>

        <div class="col-5 d-flex align-items-stretch">
            <div class="card">
                <img class="card-img-top" src="image/github.jpg" alt="generic github logo image">
                <div class="card-body card-theme d-flex flex-column">
                    <h4 class="card-title">GitHub Profile</h4>
                    <p>A direct link to my GitHub profile so that you can view my past and ongoing projects.</p>
                    <a href="https://github.com/jgrosse01" class="btn btn-primary btn-theme mt-auto" target="_blank">GitHub.com</a>
                </div>
            </div>
        </div>

        <div class="col-5 d-flex align-items-stretch">
            <div class="card">
                <img class="card-img-top" src="image/linkedin.jpg" alt="generic linkedin logo image">
                <div class="card-body card-theme d-flex flex-column">
                    <h4 class="card-title">LinkedIn Profile</h4>
                    <p>Here you can look at my LinkedIn profile to see my education, qualifications, and past positions.</p>
                    <a href="https://www.linkedin.com/in/jacob-taylor-grosse/" class="btn btn-primary btn-theme mt-auto" target="_blank">LinkedIn.com</a>
                </div>
            </div>
        </div>

        <div class="col-1"></div>

    </div>

</div>
</html>