<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">
<div th:fragment="index-header">
    <h1 class="bso-page-title">Everything You May Need to Know About Jake</h1>
</div>

<div th:fragment="index-content">
    <div class="row">

        <div class="col-2"></div>

        <div class="col-4 d-flex align-items-stretch">
            <div class="card">
                <img class="card-img-top" src="image/github.jpg" alt="generic github logo image">
                <div class="card-body card-theme d-flex flex-column">
                    <h4 class="card-title">GitHub Profile</h4>
                    <p>A direct link to my GitHub profile so that you can view my past and ongoing projects.</p>
                    <a href="https://github.com/jgrosse01" class="btn btn-primary btn-theme mt-auto" target="_blank">GitHub.com</a>
                </div>
            </div>
        </div>

        <div class="col-4 d-flex align-items-stretch">
            <div class="card">
                <img class="card-img-top" src="image/linkedin.jpg" alt="generic linkedin logo image">
                <div class="card-body card-theme d-flex flex-column">
                    <h4 class="card-title">LinkedIn Profile</h4>
                    <p>Here you can look at my LinkedIn profile to see my education, qualifications, and past positions.</p>
                    <a href="https://www.linkedin.com/in/jacob-taylor-grosse/" class="btn btn-primary btn-theme mt-auto" target="_blank">LinkedIn.com</a>
                </div>
            </div>
        </div>

        <div class="col-2"></div>

    </div>

</div>
</html>