<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Gross&eacute Homepage</title>

    <link th:insert="~{component-templates/css-script-tmpl :: css-script}"></link>
</head>
<body>
<div class="container-lg bso-content">
    <div th:insert="~{component-templates/nav-tmpl :: navbar}"></div>

    <div class="anchor">
        <h1>Welcome to my website! You have been tracked! Get REKT!</h1>
        <h1>Line spacing test</h1>
        <h1>Line spacing test 2</h1>
    </div>
</div>

</body>
</html>